@import "reset.scss";
@import "palette.scss";
body{
  font-family: "Source Sans Pro", sans-serif;

    h1,
    h2,
    button {
        font-family: "Oswald", sans-serif;
    }
main {
    background-color: $bg-color;
    overflow: hidden;
  }
  .app{
      &-container{
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
      }
      &-section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 820px;
        gap: 55px;
        &__button {
            background-color: $btn-primary;
            border: none;
            color: $white;
            cursor: pointer;
            outline: none;
            &--read-more {
                border-radius: 26px;
                font-size: 14px;
                height: 46px;
                letter-spacing: 1.2px;
                margin: 60px auto 108px;
                text-transform: uppercase;
                width: 135px;
                &:hover {
                    transition: transform 0.7s ease-in-out;
                    transform: rotate(15deg);
                    transform-origin: 0 50%;
                  }
                  
              }
              &--our-culture {
                display: block;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin: 64px auto;
                padding: 0;
                font-size: 4rem;
              &:hover {
                background-color: $white;
                color: $btn-primary;
                transform: scale(0.98);
              }
              
            }
              
          }
          &--image-peak {
            background: linear-gradient(
                to top,
                rgba(65, 65, 65, 0.1),
                rgba(65, 65, 65, 0.1)
              ),
              url(../assets/background.png) no-repeat center/cover;
            display: flex;
            height: 820px;
            color: $white;
            max-width: 100%;
          }
          &--image-culture {
            background: linear-gradient(
                to top,
                rgba(65, 65, 65, 0.3),
                rgba(65, 65, 65, 0.3)
              ),
              url(../assets/background-component3.png) no-repeat center/cover;
            height: 637px;
            max-width: 100%;
            color: $white;
          }
          
      }
      &-logo{
        width: 64px;
        height: 64px;
        &__main {
            transition: transform 0.7s ease-in-out;
            transform: scale(1.3);
            &:hover {
                transform: scale(1.6) rotateY(180deg);
              }
          }
          
        &--small{
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
      }  
       &-subtitle{
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
      }
      &-title{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        color: $white;
        text-align: center;
        &__section-headline {
            color: #464547;
          }
          &__subsection-headline {
            color: #666666;
          }
      }
   
      &-header {
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;
        min-height: 64px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        padding: 0 140px;
        
&__nav-menu-button {
    align-self: flex-end;
    display: none;
    justify-self: end;
    transition: all 0.25s ease-out;
&-icon {
    color: $white;
    font-size: 2.3rem;
  }
}
  
        &__logo {
            color: $white;
            justify-self: flex-start;
            align-self: flex-end;
            font-size: initial;
            letter-spacing: 2.4px;
            text-transform: uppercase;
            text-decoration: none;
            margin-right: 40px;
          }
          &__nav {
            display: inline-block;
          }
          &__nav-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 32px;
            justify-items: center;
            padding: 0;
            margin: 55px 0 0 0;
            list-style: none;
            &-item {
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 2.4px;
              }
               a{
                color: $white;
                text-decoration: none;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                   &:hover {
                text-decoration: underline;
              }
               }
              
          }
      }
      &-animation {
        position: absolute;
        right: -12px;
        width: 102%;
        animation: flickerAnimation 3s ease-in-out infinite;
      }
      &-animation_2 {
        position: absolute;
        width: 102%;
        right: -12px;
        animation: moveLeft 3s ease-in-out alternate infinite;
      }
      
      &-footer {
        min-height: 170px;
        background: #464547;
        color: $white;
        &__address,
        &__mail,
        &__rights {
          color: rgba(255, 255, 255, 0.4);
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
        }
        &__address {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
          &__mail {
            cursor: pointer;
          }   
          &__paragraph {
            display: flex;
            align-items: center;
            text-transform: uppercase;
          }
      &__content {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 50px;
      }
      }
   
    
  } 
  article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 90px;
        margin: 0 140px;
      }

      
@keyframes flickerAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes moveLeft {
    100% {
      transform: translateX(-20px);
    }
  }
  

  
  
@media screen and (max-width: 768px) {
    .app
    {
        &-section--image-peak {
      background-size: 100% 100%;
    }
    &-header
    {
        display: flex;
        justify-content: space-between; 
        &__nav {
        display: none;
      }
        
        &__nav-menu-button {
      display: block;
    }
   
}

    &-section {
      gap: 10px;
    &--image-peak {
      height: 548px;
    }
    &--image-culture {
      height: 698px;
    }
  
   
  }
  &-animation {
    right: -1px;
    width: 97%;
    height: 25%;
  &_2 {
    width: 100%;
    right: 0;
    height: 24.8%;
  }
}
}
}
}
